@model List<Team>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<h1>Index</h1>

<div>
    <a asp-action="Create" asp-controller="Team" class="btn btn-success">Create</a>

</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Profession</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@item.Name</td>
                <td>@item.Profession</td>
                <td>
                    <img style="width:150px" src="~/uploads//sliders/@item.Image" />
                </td>
                <td>
                    <a asp-action="Update" asp-controller="Team" class="btn btn-info" asp-route-Id="@item.Id"  >Update</a>
                    <a asp-action="Delete" asp-controller="Team" class="btn btn-danger" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>

